# dataset
PBC_dataset_normal_DIB/
PBC_dataset_normal_DIB.zip
pbcseg_final_v1/
pbcseg_final_v1.tar
WBCATT/
__MACOSX/
pbc_attr_v1_ccrop_all.csv
# checkpoint model (190 MB, > limit GitHub)
m2f_tiny_1024_color_*/
*.ckpt
# cache
__pycache__/
